.header{
    color: white;
    background-color: indigo;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);

}

.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header h1,button{
    cursor: pointer;
}