.form {
    margin: 0 auto;
    width: 60%;
    margin: 2rem auto;
        min-width: 20rem;
}

.input label {
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
    padding: 0 1rem;
    margin-bottom: 0.8rem;
}

.input input {
    display: block;
    min-width: 95%;
    border: 1px solid #ccc;
    height: 2rem;
    margin: 0 auto;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.input {
    padding: 0.5rem;
}